@import "~bootstrap/dist/css/bootstrap.min.css";
.card {
  margin: auto;
  margin-top: 100px;
  width: 700px;
  height: 500px;
}

#executeb {
  float: right;
}
h3 {
  align-items: center;
  color: rgb(0, 149, 255);
}

h5 {
}

.text {
  margin-left: 200px;
  margin-top: 100px;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
}
